.easy_complete {
  display: inline-block;
}

.easy_complete input {
  display: block;
}

.easy_complete ul {
  color: blue;

  list-style: none;
  margin: 0;
  padding: 0;
}

.easy_complete li {
  padding: 5px;
  background-color: white;
}

.easy_complete li.active {
  color: red;
  cursor: pointer;
}

.easy_complete ul:not(.visible),
.easy_complete li:not(.visible) {
  display: none;
}

