ul.easy_complete {
  padding: 0;
  margin: 0;
  left: 10px;
  top: 35px;
  display: inline-block;
  position: absolute;
  color: blue;
}

ul.easy_complete li.active {
  color: red;
}

ul.easy_complete li:not(.visible) {
  display: none;
}

